.cart__item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px solid #f3f3f3;
   border-radius: 20px;
   padding: 20px;
   margin-bottom: 20px;

   img {
      width: 30%;
   }

   &__info {
      width: 50%;

      h3 {
         font-size: 14px;
         font-weight: 400;
      }

      p {
         font-size: 14px;
         font-weight: 700;
         margin-top: 5px;
      }
   }

   svg {
      width: 10%;
      cursor: pointer;
   }
}
